:root
{
    /* Primary colors */
    --primary-100: #FFC2AA;
    --primary-200: #D4886A;
    --primary-300: #AA5939;
    --primary-400: #803315;
    --primary-500: #551800;

    /* Secondary color #1 */
    --secondary1-100: #FFDBAA;
    --secondary1-200: #D4A76A;
    --secondary1-300: #AA7939;
    --secondary1-400: #805215;
    --secondary1-500: #553100;

    /* Secondary color #2 */
    --secondary2-100: #E498AF;
    --secondary2-200: #BE5F7C;
    --secondary2-300: #983351;
    --secondary2-400: #721330;
    --secondary2-500: #4C0017;
}

@font-face
{
    font-family: "Pricedown";
    src: url(/Pricedown.otf);
    font-style: normal;
}

body
{
    font-family: "Pricedown", serif;
    color: var(--primary-200);
    background-color: var(--primary-300);
    margin: 0px;
}

button
{
    font-family: "Pricedown";
    border: 0px;
}

nav img
{
    margin-top: -50px;
    margin-right: 50px;
    float: right;
}

.MainPageBanner
{
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    overflow-x: hidden;

    background: linear-gradient(to bottom, var(--primary-300), rgba(0,0,0,0)),
              url("/images/MustangCar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-buttons
{
    margin-left: 50px;
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10px;
}

.nav-buttons button
{
    background: none;
    border-bottom: 5px solid transparent;
    color: var(--primary-200);

    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;

    transition: 0.1s linear;
}

.nav-buttons input
{
    color: var(--primary-200);
    margin-left: 50px;
    font-family: "Pricedown";
    width: 500px;
    background: none;

    font-size: 30px;
    border: none;
    border-bottom: 5px solid var(--primary-200);
    outline: none;
}

.nav-buttons input::placeholder {
    color: var(--primary-200);
}

.nav-buttons button:hover
{
    border-bottom: solid 5px var(--primary-400);
    color: var(--primary-400);
}